extends layout

block container
	.page-header
		h1 Hello, #{user.name}!
	
	.panel.panel-default
		.panel-body
			h2 Edit Bot: #{bot.name}
			
		.panel-body
			form(method='post')
				.form-group
					input.form-control(name='name' rows='8' placeholder='Name' value='#{bot.name}')
				.form-group
					textarea.form-control(name='code' rows='8' placeholder='Code') #{bot.code}
				
				button.btn.btn-primary(type='submit') Save
				
				.pull-right
					button.btn.btn-default.btn-test(type='button' data-toggle='modal' data-target='#mdlTest') Test

	#mdlTest.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Test Bot: #{bot.name}
				
				.modal-body
					form(method='post' action='/test-bot')
						.form-group
							select.form-control(name='other')
								for other in bots
									option(value='#{other.id}') #{other.name}
						
						input(type='hidden' name='bot' value='#{bot.id}')
						
						button.btn.btn-primary(type='submit') Begin
