extends layout

block container
	h2 Edit Bot
	br
	
	.panel.panel-default.panel-spacious
		.panel-body
			.row
				.col-xs-8.col-xs-offset-2
					form(method='post')
						.form-group
							input.form-control(name='name' rows='8' placeholder='Name' value='#{bot.name}')
						.form-group
							textarea.form-control(name='code' rows='8' placeholder='Code') #{bot.code}
						
						button.btn.btn-default.btn-test(type='button' data-toggle='modal' data-target='#mdlTest') Test
						
						.pull-right
							.btn-group
								a.btn.btn-default(href='/bots/#{bot.id}') Cancel
								button.btn.btn-primary(type='submit') Save

	#mdlTest.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Test Bot: #{bot.name}
				
				.modal-body
					form(method='post' action='/test-battle')
						.form-group
							select.form-control(name='other')
								for other in bots
									option(value='#{other.id}') #{other.name}
						
						input(type='hidden' name='bot' value='#{bot.id}')
						
						button.btn.btn-primary(type='submit') Begin

block append scripts
	script(type='text/javascript').
		CodeMirror.fromTextArea($('form textarea[name=code]')[0], {
			lineNumbers: true
		})
