extends layout

block container
	.panel.panel-default.panel-spacious
		.panel-body
			.row
				for party, i in challenge.parties
					.col-xs-5.text-center
						if party.bot
							.h3 #{party.bot.name}
						else
							.h3.text-muted ?
						p by #{party.user ? party.user.name : party.stub.name}

					if i === 0
						.col-xs-2.text-center
							.h2(style='padding-top: 4px;') vs
			br
			br
			hr
			if challenge.parties[1].user && user.id.toString() === challenge.parties[1].user.id.toString()
				br
				br
				.row
					.col-xs-8.col-xs-offset-2
						blockquote
							p #{challenge.message}
							footer #{challenge.parties[0].user.name}
			br
			br
			br
			.text-center
				case true
					when !!challenge.battle
						a.btn.btn-primary.btn-lg(href='/battles/#{challenge.battle.id.toString()}') See Battle Results

					when user.id.toString() === challenge.parties[0].user.id.toString()
						button.btn.btn-default.btn-lg(disabled) Waiting for Opponent's Response

					when challenge.parties[1].user && user.id.toString() === challenge.parties[1].user.id.toString()
						button.btn.btn-primary.btn-lg(data-toggle='modal' data-target='#mdlRespond') Respond to Challenge

	if !challenge.battle && challenge.parties[1].user && user.id.toString() === challenge.parties[1].user.id.toString()
		#mdlRespond.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button' data-dismiss='modal')
							span &times;
						h4.modal-title Respond to Challenge
					
					if bots.length === 0
						.modal-body
							p Looks like you have not created a bot yet.
							
						.modal-footer
							a.btn.btn-primary(href='/my-bots/new') Create a Bot
						
					else
						form(method='post' action='/challenges/#{challenge.id}/respond')
							.modal-body
								.form-group
									select.form-control(name='bot')
										for bot in bots
											option(value='#{bot.id}') #{bot.name}

							.modal-footer
									button.btn.btn-primary(type='submit') Respond
