extends layout

block container
	.page-header
		h1 Hello, #{user.name}!
			
	.panel.panel-default
		.panel-body
			h2 My Code
			form(method='post')
				.form-group
					textarea.form-control(name='player[code]' rows='8') #{player ? player.code : ''}
				
				button.btn.btn-primary(type='submit') Submit
						
	.panel.panel-default
		.panel-body
			h2 Others
			ul.list-group
				for other in others
					li.list-group-item
						form.pull-right(method='post' action='/games?user=#{user.id}&other=#{other.user.id}')
							button.btn.btn-link.btn-xs(type='submit') Battle!
						| #{other.user.name}
						
