doctype html
html
	head
		title Battlescripts

		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Asap')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css')
		!= css('screen')

	body
		header
			.container
				.row
					.col-xs-6
						a(href='/')
							img.logo(src='/img/logo-toptal.png')

					.col-xs-6.text-right
						block user-nav
							if user
								span.name #{user.name}

								a.btn.btn-default(href='/logout') Logout

							else
								a.btn.btn-default(href='/login') Login

		.navbar.navbar-default(style='margin-bottom: 64px;')
			.container
				if user
					ul.nav.navbar-nav
						li
							a(href='/my-bots') Bots

						li
							a(href='/my-challenges')
								if newChallengeCount > 0
									.badge.pull-right(style='margin-left: 8px;') #{newChallengeCount}
								| Challenges

						//- li
							a(href='/my-battles') Battles

						li
							a(href='/leaderboard') Leaderboard

					if user.isAdmin
						ul.nav.navbar-nav(style='margin-left: 32px;')
							li
								a(href='/users') Users

							li
								a(href='/contests') Contests

				ul.nav.navbar-nav.navbar-right
					li
						a(href='/help') Help

		.container(style='position: absolute; top: 48px; left: 25%; width: 50%; text-align: center;')
			for kind in ['info', 'warning']
				for msg in messages[kind] || []
					.alert(class='alert-#{kind}')
						button.close(data-dismiss='alert') &times;
						| #{msg}

		.container
			block container

		footer(style='margin-top: 32px;')
			hr
			.container
				.row
					.col-xs-12
						p Battlescripts brought to you by&#032;
							a(href='http://www.toptal.com/') Toptal
							|  for funsies.

		block scripts
			script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js')
			script(type='text/javascript').
				$('a[href="'+location.pathname.replace(/\/search$/, '')+'"]').parent('li').addClass('active')
				$('form[method=post]').on('submit', function() {
					$('button[type=submit]', this)
					.addClass('disabled')
					.attr('disabled', true)
				})
				$(function () {
					$('[data-toggle="tooltip"]').tooltip()
				})
			
			if env.GOOGLE_ANALYTICS_TRACKING_ID
				script(type='text/javascript').
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
					ga('create', #{env.GOOGLE_ANALYTICS_TRACKING_ID}, 'auto');
					ga('send', 'pageview');
					
