extends layout

block container
	if nextContest
		.panel.panel-default
			.panel-body
				h2 Next Contest: #{nextContest.title}
		
			if nextParty
				.panel-body
					p Participating with #{nextParty.bot.name}
						|  (
						a(href='#' data-toggle='modal' data-target='#mdlParticipate') change
						| )
			
			else
				.panel-body
					button.btn.btn-primary(type='button' data-toggle='modal' data-target='#mdlParticipate') Participate
		
		#mdlParticipate.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button' data-dismiss='modal')
							span &times;
						h4.modal-title Participate in #{nextContest.title}
					
					.modal-body
						form(method='post' action='/contests/#{nextContest.id}/participate')
							.form-group
								select.form-control(name='bot')
									for bot in bots
										option(value='#{bot.id}' selected=(nextParty && nextParty.bot.id.toString() === bot.id.toString())) #{bot.name}
							
							button.btn.btn-primary(type='submit') Participate
	
	.panel.panel-default
		.panel-body
			h2 My Bots
			
		.panel-body
			.btn-toolbar
				.btn-group
					a.btn.btn-primary(href='/my-bots/new') New Bot
				
		.list-group
			for bot in bots
				a.list-group-item(href='/bots/#{bot.id}/edit') #{bot.name}
