extends layout

block container
	if nextContest
		.alert.alert-warning
			.pull-right
				button.btn.btn-primary.btn-xs(type='button' data-toggle='modal' data-target='#mdlParticipate') Participate
				
			p Upcoming Contest: #{nextContest.title}
		
		#mdlParticipate.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button' data-dismiss='modal')
							span &times;
						h4.modal-title Participate in #{nextContest.title}
					
					.modal-body
						form(method='post' action='/contests/#{nextContest.id}/participate')
							.form-group
								select.form-control(name='bot')
									for bot in bots
										option(value='#{bot.id}' selected=(nextParty && nextParty.bot.id.toString() === bot.id.toString())) #{bot.name}
							
							button.btn.btn-primary(type='submit') Participate
	
	if bots.length === 0
		.panel.panel-default
			.panel-body
				.row
					.col-xs-8.col-xs-offset-2.text-center
						img(src='/img/bot-happy.png')
						
						h3 You haven't added any bot yet
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque mattis ultricies. Praesent sapien nisi, vestibulum non porttitor sit amet, maximus id lorem.
						
						a.btn.btn-primary(href='/my-bots/new')
							i.fa.fa-plus
							|  Add New Bot
						a.btn.btn-default(href='#') Learn More
		
	else
		.row
			.col-xs-8
				h2 My Bots
				
			.col-xs-4
				.btn-toolbar
					.btn-group.pull-right
						a.btn.btn-primary(href='/my-bots/new')
							i.fa.fa-plus
							|  Add New Bot
		br
			
		.panel.panel-default
			ul.list-group
				for bot in bots
					li.list-group-item
						.pull-right
							.btn-group
								a.btn.btn-default(href='/bots/#{bot.id}/edit')
									i.fa.fa-pencil
								a.btn.btn-default(href='#')
									i.fa.fa-trash
						h5
							a(href='/bots/#{bot.id}') #{bot.name}
