extends layout

block container
	if nextContest
		.alert.alert-warning
			.pull-right
				if nextParty
					span(style='margin-right: 24px;') Enrolled with 
						a(href='/bots/#{nextParty.bot.id}') #{nextParty.bot.name}
					
					button.btn.btn-primary.btn-xs(type='button' data-toggle='modal' data-target='#mdlParticipate') Change
					
				else
					button.btn.btn-primary.btn-xs(type='button' data-toggle='modal' data-target='#mdlParticipate') Participate
					
			| Upcoming Contest: #{nextContest.title}
		
		#mdlParticipate.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button' data-dismiss='modal')
							span &times;
						h4.modal-title Participate in #{nextContest.title}
					
					.modal-body
						form(method='post' action='/contests/#{nextContest.id}/participate')
							.form-group
								select.form-control(name='bot')
									for bot in bots
										option(value='#{bot.id}' selected=(nextParty && nextParty.bot.id.toString() === bot.id.toString())) #{bot.name}
										
							if nextParty
								.pull-right
									button.btn.btn-default(type='submit' name='_action' value='unenroll') Unenroll
									
								button.btn.btn-primary(type='submit') Change
							else
								button.btn.btn-primary(type='submit') Participate
	
	if bots.length === 0
		.panel.panel-default.panel-spacious
			.panel-body
				.row
					.col-xs-8.col-xs-offset-2.text-center
						img(src='/img/bot-happy.png')
						
						h3 You haven't added any bots yet
						p Write bots. Challenge friends. Destroy ships
							small  (virtually).
						br
						
						a.btn.btn-primary(href='/my-bots/new' data-toggle='tooltip' data-placement='bottom' title='Create a new bot')
							i.fa.fa-plus
							|  Add New Bot
						span(style='display: inline-block; height: 1px; width: 8px;')
						a.btn.btn-default(href='/help') Learn More
		
	else
		.row
			.col-xs-8
				h2 Bots
				
			.col-xs-4
				.btn-toolbar
					.btn-group.pull-right
						a.btn.btn-primary(href='/my-bots/new' data-toggle='tooltip' data-placement='bottom' title='Create a new bot' data-container='body')
							i.fa.fa-plus
							|  Add New Bot
		br
			
		.panel.panel-default
			ul.list-group
				for bot in bots
					li.list-group-item
						.btn-toolbar.pull-right
							.btn-group
								a.btn.btn-default(href='/bots/#{bot.id}/edit' data-toggle='tooltip' data-placement='bottom' title='Edit this bot' data-container='body')
									i.fa.fa-pencil
								//- a.btn.btn-default.btn-delete(href='#' data-toggle='modal' data-target='#mdlDelete' data-bot-id='#{bot.id}' data-bot-name='#{bot.name}')
									i.fa.fa-trash
							.btn-group
								a.btn.btn-primary(href='/bots/#{bot.id}#test' data-toggle='tooltip' data-placement='bottom' title='Test this bot against one of your own bots' data-container='body') Test
								a.btn.btn-primary(href='/my-challenges/new#bot=#{bot.id}' data-toggle='tooltip' data-placement='bottom' title='Challenge a friend with this bot' data-container='body') Challenge								
						.pull-right(style='margin-right: 24px;')
							h5.text-muted Score: #{Math.round(bot.score)}, Wins: #{bot.stats.wins}
						h5
							a(href='/bots/#{bot.id}') #{bot.name}
								if env.OPT_GAMES.split(',').length > 1
									|  (#{bot.game})
		
		#mdlDelete.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button' data-dismiss='modal')
							span &times;
						h4.modal-title Confirm Delete
					
					form(method='post' action='')
						.modal-body
							p Are you sure you want to delete your bot 
								b.bot-name
								| ?
						.modal-footer
							.btn-group
								button.btn.btn-default(data-dismiss='modal') Cancel
								button.btn.btn-danger(type='submit') Delete

block append scripts
	script(type='text/javascript').
		$('.btn-delete').on('click', function() {
			$('#mdlDelete form').attr('action', '/bots/'+$(this).data('bot-id')+'/delete')
			$('#mdlDelete .bot-name').text($(this).data('bot-name'))
		})
