extends layout

block container
	.row
		.col-xs-6
			h2 Challenges
				
		.col-xs-6
			.btn-toolbar
				if newChallenges && newChallenges.length > 0
					.btn-group.pull-right
						a.btn.btn-primary(href='/my-challenges/new')
							i.fa.fa-plus
							|  New Challenge
	br
		
	if newChallenges && newChallenges.length > 0
		.panel.panel-default
			.list-group
				for challenge in newChallenges
					a.list-group-item(href='/challenges/#{challenge.id}') 
						span(data-ts='#{moment(challenge.created).unix()}' data-date-fmt='lll') #{moment(challenge.created).format('lll')}
						|  &mdash; #{challenge.opponentOf(user).user ? challenge.opponentOf(user).user.name : challenge.opponentOf(user).stub.name}

	else
		.panel.panel-default
			.panel-body.text-center
				h3 Looks like you don't have any new challenges
				p Challenge a friend, show 'em who's the boss.
				br

				a.btn.btn-primary(href='/my-challenges/new')
					i.fa.fa-plus
					|  New Challenge
				br
				br
	
	if challenges && challenges.length > 0
		.panel.panel-default
			.list-group
				for challenge in challenges
					a.list-group-item(href='/challenges/#{challenge.id}') 
						.text-muted
							span(data-ts='#{moment(challenge.created).unix()}' data-date-fmt='lll') #{moment(challenge.created).format('lll')}
							|  &mdash; #{challenge.opponentOf(user).user.name}
