extends layout

block container
	h2 Participant: #{party.bot.name}
		small  by #{party.user.name}
	br
	
	.panel.panel-default
		.panel-body
			.row
				.col-md-6
					h4 Author
					a.thumbnail.pull-left(href='/users/#{party.user.id}')
						img(src='#{party.user.avatarUrl}' width='64' height='64')
							
				.col-md-6
					h4 &nbsp;
					dl
						dt Submitted
						dd
							span(data-ts='#{moment(party.created).unix()}' data-date-fmt='lll') #{moment(party.created).format('lll')}
		
		.panel-body
			h4 Source
			pre.pre-scrollable #{party.bot.code}
		
		.panel-body
			h4 Battles
				
			for round in party.result.rounds
				h5 Round #{round.no+1}
				.list-group
					for battle in round.battles
						a.list-group-item(href='/battles/#{battle.id}') 
							if battle.parties[0].winner
								b #{battle.parties[0].bot.name}
							else
								| #{battle.parties[0].bot.name}
							|  vs 
							if battle.parties[1].winner
								b #{battle.parties[1].bot.name}
							else
								| #{battle.parties[1].bot.name}
				
			
