extends layout

block container
	.panel.panel-default
		.panel-body
			.pull-right
				form(method='post' action='/users/#{other.id}/pretend')
					button.btn.btn-primary(type='submit') Pretend
					
			h2 User: #{other.name}
			
		.panel-body
			p Last Seen: #{other.lastSeen}
			
			if other.profiles.facebook
				p 
					a(href='https://www.facebook.com/#{other.profiles.facebook.id}') Facebook
			
			if other.profiles.twitter
				p 
					a(href='https://www.twitter.com/#{JSON.parse(other.profiles.twitter._raw).screen_name}') Twitter
						
		.panel-body
			h4 Bots
		
		.list-group
			for bot in bots
				a.list-group-item(href='/bots/#{bot.id}') #{bot.name}
	
